# // DO NOT ADJUST. This file is replaced by `./helper.scala update`.
*.class
*.log

target
/project/project
/project/target
/project/.*
.cache
.classpath
.project
.settings
bin
/.idea/
/.sbt/
/.ivy2/
/.g8/
/project/metals.sbt
/.bloop/
/.ammonite/
/.run/
/.vscode/
/.metals/
/.scala-build/
/.templUpdate/
/.camunda/element-templates/**/dependencies/
/.camunda/element-templates/c8/**

/.bsp/
/**/.generated/
/**/.gradle/
/**/build/
/**/gradle*
test.*
